# Ignore artifacts directory
/data1/jsjoo/LLM/TIS-vLLM_gpu/container/llm_perf_analyzer/artifacts
container/llm_perf_analyzer/artifacts/

# 암호화 관련 파일 제외
encrypt_password.py
/data1/jsjoo/LLM/TIS-vLLM_gpu/encrypt_password.py
local/_docker/encrypt_password.py

# Git
.git
.gitignore
.github

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Logs
logs/
*.log

# Virtual Environment
venv/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo
